* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  width: 50vw;
  height: 55vh;
  object-fit: cover;
}

.container {
  position: relative;
  width: 50vw;
  height: 55vh;
}

.img-container-before,
.img-container-after {
  position: absolute;
  width: 50vw;
  height: 55vh;
}

.img-container-before {
  width: 25vw;
  overflow: hidden;
}

.slider {
  width: 0.2rem;
  background: #fff;
  height: 50%;
  z-index: 3;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
}

/* .img-container-before:hover {
  width: 0vw;
} */
